.App {
  text-align: center;
}

.nupu-stiil {
  font-weight: bold;
  color: rgb(40, 43, 39);
}

.nupu-stiil:hover {
  text-decoration: underline;
  cursor: pointer;
}

.nupu-stiil:active {
  background-color: black;
  color: white
}


.pilt {
  width: 200px;
  /* height: 200px; */
}

.pilt:hover {
  opacity: 0.7;
  cursor: pointer;
}

.pilt:active {
  transform: rotate(5deg);
}