.App {
  text-align: center;
}

.nupu-stiil {
  font-weight: bold;
  color: rgb(40, 43, 39);
}

.nupu-stiil:hover {
  text-decoration: underline;
  cursor: pointer;
}

.nupu-stiil:active {
  background-color: black;
  color: white
}


.pilt {
  width: 200px;
  /* height: 200px; */
}

.pilt:hover {
  opacity: 0.7;
  cursor: pointer;
}

.pilt:active {
  transform: rotate(5deg);
}

.kuldne {
  color: goldenrod;
}

.tume {
  background-color: black;
  color: white;
  text-align: center;
  min-height: 100vh;
  /* vh ---> ekraani kõrgus
    px --> pikslid
    % --> protsent sellest kelle sees ta on
    <div width=300px>  <div width=30vw></div>  </div>
  */
}

.ikoon {
  width: 30px;
}

.ikoon:hover {
  opacity: 70%;
  cursor: pointer;
}

.ikoon:active {
  box-shadow: 0 0 50px 10px;
  background-color: transparent;
}

.error {
  color: #e4175c;
  font-size: 12px;
  margin: 5px;
}

.red {
  border: 2px solid red;
  border-radius: 3px;
}

input {
  outline: none;
}